<h1>Welcome to Reservester</h1>
<p><% @restaurants.each do |x| %>
		<%= image_tag x.avatar.url(:thumb) %><br><%= link_to "#{x.name}", x %></p>
<% end %>

<br>
<hr>

<%= link_to("Add Restaurant", new_restaurant_path) %> <%= link_to "Back", root_path %>
<p></p>
